
<div class="user_profile_container">
  <div class="user_games_container">
    <h3 class="my_games">My Games</h3>
    <%= link_to "Add Game", new_game_path %>
    <br>
    <br>
    <% @my_games.each do |game| %>
      <li class="my_game_name"><%= game.title.upcase %></li>
    <% end %>
  </div>

  <div class="user_friends_container">
    <h3 class="my_friends">My Friends</h3>
    <p>Click a friend to view their games.</p>
    <% @friends.each do |friend| %>
      <%= link_to friend.username, user_path(friend) %><br>
    <% end %>
    <form class="new_friend_form">
      <br>
      <br>
    <label>Invite a friend to play games.</label>
    <input type=text placeholder="Search by Username"
    </form>
    <!-- Create new friendship. -->
  </div>

</div>