
<div class="user_profile_container">
  <div class="user_games_container">
    <h3 class="my_games">My Games</h3>
    <%= link_to "Add Game", new_game_path %>
    <br>
    <br>
    <% @my_games.each do |game| %>
      <li class="my_game_name"><%= game.name %></li>
      <div class="my_game_pic"><%= game.image %></div>
    <% end %>
  </div>

  <div class="user_friends_container">
    <h3 class="my_friends">My Friends</h3>
    <% @friends.each do |friend| %>
      <li class="my_friend_username"><%= friend.username %></li>
    <% end %>
    <!-- No to friend.username -->
    <form>
    <label>Invite a new friend to play games.</label>
    <input type=text placeholder="Search by Username"
    </form>
    <!-- Create new friendship. -->
  </div>

</div>