body, html {
  margin: 0;
  padding: 0;
  background-image: url("/images/unicorn_bg.jpg");
  background-repeat: no-repeat;
  /*background-position: right top;*/
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

header {
  margin-top: 100px;
  font-family: Arial;
  font-size: 40px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #85144b;
  z-index: 1;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline;
  font-size: 18px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  font-size: 20px;
}

footer {
  margin-top: 100px;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  height:25px;
  position: fixed;
  background-color:#85144b;
  font-style: italic;
  text-align: center;
  color: white;
}


.right {
  float: right;
}


.main-container {
  width: 70%;
  padding: 0px 25px;
  margin: 80px auto;
}

.form-container {
  padding: 25px 0px;
  border-radius: 20px;

  background-color:rgba(0, 0, 0, 0.5);
}

.form-container h1 {
  text-align: center;
}

.form-box {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.game-title {
  color: black;
}

.game-listing{
  border: 1px solid #AAAAAA;
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-listing img {
  width: 100px;
  heigh: 100px;
}

.game-listing a {
  text-decoration: none;
  text-align: center;
  font-family: Arial;
  color: black;
}

.game-listing:hover{
  position: relative;
  top: -5px;
  opacity: 1;
  background-color: white;
}

.game-list {
  margin-left: -15px;
}


.homepage-main {
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 55%;
  float: left;  
  padding: 0px 5px;
  margin-bottom: 100px;
}

.homepage-main h2 {
  text-align: center;
}

.search-box {
  text-align: center;
}
.top-games {
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0px 50px;
  width: 40%;
  height: 500px;
  float: right;
}

.top-games h2 {
  text-align: center;
}

.review-list {
  color: black;
}

.review-container {
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 25px;
  background-color: #FFFFFE;
  color: black;
}

.review-list-item {
  padding: 10px;
  border-bottom: 1px solid black;
  margin: 10px;
}

span {
  font-size: 15px;
}

.error-container {
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0px 50px;
  width: 80%;
  height: 600px;
  float: right;
}

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e52381), color-stop(1, #85144b));
	background:-moz-linear-gradient(top, #e52381 5%, #85144b 100%);
	background:-webkit-linear-gradient(top, #e52381 5%, #85144b 100%);
	background:-o-linear-gradient(top, #e52381 5%, #85144b 100%);
	background:-ms-linear-gradient(top, #e52381 5%, #85144b 100%);
	background:linear-gradient(to bottom, #e52381 5%, #85144b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52381', endColorstr='#85144b',GradientType=0);
	background-color:#e52381;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #85144b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #400a24;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #85144b), color-stop(1, #e52381));
	background:-moz-linear-gradient(top, #85144b 5%, #e52381 100%);
	background:-webkit-linear-gradient(top, #85144b 5%, #e52381 100%);
	background:-o-linear-gradient(top, #85144b 5%, #e52381 100%);
	background:-ms-linear-gradient(top, #85144b 5%, #e52381 100%);
	background:linear-gradient(to bottom, #85144b 5%, #e52381 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#85144b', endColorstr='#e52381',GradientType=0);
	background-color:#85144b;
}
.button:active {
	position:relative;
	top:1px;

}

.game-header {
  font-size: 40px;
  color: white;
  text-align: center;
}

.show-page {
  padding: 50px 50px;
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.5);
}

.back a {
  text-decoration: none;
  color: white;
}

.back a:hover {
  text-decoration: underline;
}
