body, html {
  margin: 0;
  padding: 0;
  background-image: url("http://wallpapers.yvonneweng.com/images/yvonneweng-unicornislands-2560x1440.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

header {
  margin-top: 100px;
  font-family: Arial;
  font-size: 40px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #85144b;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline;
  font-size: 18px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  font-size: 20px;
}

footer {
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  height:25px;
  position: fixed;
  background-color:#85144b;
  font-style: italic;
  text-align: center;
  color: white;
}


.right {
  float: right;
}


.main-container {
  width: 70%;
  padding: 0px 25px;
  margin: 80px auto;
}

.form-container {
  padding: 25px 0px;
  border-radius: 20px;
  background-color: #FFFFFE;
}

.form-container h1 {
  text-align: center;
}

.form-box {
  padding-left: 400px;
}

.game-title {
  color: black;
}

.game-listing{
  border: 1px solid #AAAAAA;
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.game-listing:hover{
  opacity: 1;
  color: white;
}

.homepage-main {
  background-color: #FFFFFE;
  border-radius: 20px;
  width: 55%;
  float: left;
  padding: 50px;
}

.top-games {
  background-color: #FFFFFE;
  border-radius: 20px;
  padding: 0px 50px;
  width:20% ;
  height: 500px;
  float: right;
}

.top-games h2 {
  text-align: center;
}

